*{
    margin: 0;
    box-sizing: border-box;
}
.c1 {
    height: 20px;
    background-color: rgb(13 17 40);
    line-height: 3px;
    width: 70%;
    margin-left: 200px;
    color: white;
    padding: 20px; 
}
.c2 {
    height: 400px;
    width: 100%;
    background-image: url(uni.jpeg);
    background-size: cover;
    opacity: 0.5;
}
.c3 {
    padding-top: 70px;
    margin-left: 100px;
    color: black;
}
.p1 {
    margin-left: 100px;
    margin-top: 10px;
    color:black;
}
.c4 {
    height: 200px;
    width: 336px;
    background-color: #fd5f00;
}
img {
    height: 50px;
    width: 50px;
    margin-left: 120px;
    margin-top: 10px;
}
h4 {
    margin-left: 80px;
    color: white;
}
.p2{
    margin-left: 50px;
    color: white;
}
.c5 {
    height: 200px;
    width: 335.5px;
    background-color: rgb(13 17 40);
}
button{
    margin-top: 20px;
    padding: 8px;
    border: transparent;
    border-radius: 30px;
    background-color: #FD5F00;
}